.posts-container {
  width: 90%;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  scrollbar-width: none;
}

.post-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  padding: 1rem;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.904);
  box-shadow: 5px 5px 10px rgb(58, 58, 58);
  direction: rtl;
}

.content-post {
  text-align: right;
  white-space: pre-wrap;
}

.post-item {
  position: relative;
}

.update-post {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.post-icons {
    display: flex;
    align-self: flex-end;
}

.update-post-header {
  padding: 0.8rem;
  width: 100%;
  border: none;
}
.update-post-textarea {
  flex: 1;
  padding: 0.8rem;
  width: 100%;
  height: 100;
  resize: none;
  border: none;
}
