.Footer{
    background-color:#f78799;
    padding: 1.2em;
    max-height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:aliceblue
}
.WhatsappIcone{
    max-width: 25px;
    max-height: 25px;
}